<br>
<br>

***
***
# &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; Replication of Pandas queries in SQL
***
***

<br>
<br>

### Here, we take the queries that are done in Pandas in `sentiment_revs.ipynb` and replicate them in SQL (sqlite).

In [2]:
import pandas as pd
from sqlalchemy import create_engine
sql = create_engine('sqlite://', echo=False)

/Users/Scott/anaconda/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: compiletime version 3.6 of module 'tensorflow.python.framework.fast_tensor_util' does not match runtime version 3.5
  return f(*args, **kwds)

In [3]:
# Load data for sentiment analysis
revs = pd.read_csv('br.csv',nrows=300000)
revs = revs.rename(index=str, columns={'reviewerName':'name', 'ratingsCount':'count', 'reviewerRatings':'revrat'})

# Send to an SQL database
revs.to_sql('revs_sql',con=sql)

In [4]:
def sqsq(query,out=None,con=sql):
    df = pd.read_sql_query(query,con)
    if type(out)==type(''):
        df.to_sql(out,con)
    return df

In [5]:
print('Number of rows =',sql.execute('''
    SELECT COUNT(*) 
    FROM revs_sql
''').scalar())
print('Number of unique reviewers =',sql.execute('''
    SELECT COUNT(DISTINCT name) 
    FROM revs_sql
''').scalar())
revs.head(10)

Number of rows = 300000
Number of unique reviewers = 77587

,bookID,title,author,rating,count,reviewsCount,name,revrat,review
0,9,"Unauthorized Harry Potter Book Seven News: ""Ha...",W. Frederick Zimmerman,3.73,22,1,Charles G,3.0,NaN
1,8,"Harry Potter Boxed Set, Books 1-5 (Harry Potte...",J.K. Rowling,4.77,34107,156,✿Katherine Elizabeth✿,5.0,NaN
2,3,Harry Potter and the Sorcerer's Stone,J.K. Rowling,4.44,4911929,77741,Lora,5.0,I'm going to keep this brief since there isn't...
3,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling,4.54,1810404,28053,Cait (Paper Fury),5.0,"""Read Harry Potter!"" they said. ""It'll be fun!..."
4,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling,4.47,1862749,29308,Diane ϟ [ Lestrange ],5.0,NaN
5,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.38,1936698,35055,Zoë,5.0,NaN
6,7,"The Harry Potter Collection (Harry Potter, #1-6)",J.K. Rowling,4.73,26702,909,Jen Holman,5.0,I do not own this spiffy box set of Harry Pott...
7,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling,4.53,2000827,37005,Inge,5.0,NaN
8,8053,Charlie Oink (Easy Peasy People),Roger Hargreaves,4.33,3,0,Ashton,5.0,NaN
9,6,Harry Potter and the Goblet of Fire (Harry Pot...,J.K. Rowling,4.53,1897821,31817,Zoë,5.0,NaN

First we want to filter out duplicate reviews, which exist as shown here, and we want to filter out rows that have no review or no rating.

In [6]:
sqsq("""
SELECT *
FROM revs_sql
WHERE title='Ivanhoe' and name LIKE '%Bill%'
""")

,index,bookID,title,author,rating,count,reviewsCount,name,revrat,review
0,166,6445,Ivanhoe,Walter Scott,3.75,72149,1837,Bill Kerwin,4.0,None
1,167,6444,Ivanhoe,Walter Scott,3.75,72153,1837,Bill Kerwin,4.0,None
2,825,6440,Ivanhoe,Walter Scott,3.75,72147,1837,Bill Kerwin,4.0,None
3,826,6443,Ivanhoe,Walter Scott,3.75,72147,1837,Bill Kerwin,4.0,None
4,39340,40500,Ivanhoe,Walter Scott,3.75,72169,1838,Bill Kerwin,4.0,None
5,87614,93114,Ivanhoe,Walter Scott,3.75,72172,1838,Bill Kerwin,4.0,None

In [7]:
def cleanDF(dfIn):
    query = """
    SELECT MIN(bookID) AS bookID, title, author, rating, count, reviewsCount, name, revrat, review
    FROM revs_sql 
    WHERE (review IS NOT NULL) AND (revrat IS NOT NULL)
    GROUP BY title, name
    """
    return pd.read_sql_query(query,sql)
revs = cleanDF(revs)
revs.to_sql('revs_sql_clean',con=sql)

In [15]:
sqsq('SELECT * FROM revs_sql_clean LIMIT 3')

,index,bookID,title,author,rating,count,reviewsCount,name,revrat,review
0,0,19340,Black Beauty,Anna Sewell,3.94,197106,3468,James,3.0,Review\n \nBlack Beauty by Anna Sewell i...
1,1,239055,Grass Dancer,Susan Power,3.93,2036,120,Zanna,5.0,What I said in the secrecy of my thoughts was:...
2,2,27330,Hiroshima,John Hersey,3.94,44328,2152,Paquita Maria Sanchez,5.0,This book will:1) Make you cry. A lot. You wil...

In [ ]:
int('s')

In [8]:
sqsq('''
    SELECT * 
    FROM revs_sql_clean AS t1
    INNER JOIN (
        SELECT name
        FROM revs_sql
        GROUP BY name
        ORDER BY COUNT(name) DESC
        LIMIT 10
        ) AS t2
    WHERE t1.name==t2.name AND NOT t1.name=="BookDB"
''','revs_sql_clean_top_revs')

,index,bookID,title,author,rating,count,reviewsCount,name,revrat,review,name
0,10,76214,The Valley of Fear,Arthur Conan Doyle,3.98,21893,1153,Stephen,4.0,"Let’s face it, Sherlock Holmes is a prig. A v...",Stephen
1,12,295475,Anthony and Cleopatra,William Shakespeare,3.67,24459,865,Bill Kerwin,5.0,"This play is so good, it is not merely a maste...",Bill Kerwin
2,23,154421,The Law,Frédéric Bastiat,4.39,7920,602,Stephen,5.0,"6.0 stars. The newest member of my list of ""Al...",Stephen
3,26,240419,دنباله ی جستجو در تصوف ايران,عبدالحسین زرّین‌کوب,3.50,36,3,Ahmad Sharabiani,4.0,ادامه، شاید هم «جلد دوم» همان «جستجو در تصوف» ...,Ahmad Sharabiani
4,27,259682,لذات فلسفه,Will Durant,3.91,808,60,Ahmad Sharabiani,5.0,"The Pleasures of Philosophy, Will Durant عنوان...",Ahmad Sharabiani
5,31,119971,"""Cinema Paradiso""",Giuseppe Tornatore,4.20,157,10,Ahmad Sharabiani,4.0,"Nuovo cinema Paradiso, Giuseppe Tornatore تاری...",Ahmad Sharabiani
6,74,166082,"'Honour': Crimes, Paradigms, and Violence Agai...",Lynn Welchman,4.18,17,1,Chris,4.0,I want to smack people right now. Not because ...,Chris
7,95,181800,(جانِ شیفته (دورۀ چهارجلدی (L'âme enchantée),Romain Rolland,4.02,1109,58,Ahmad Sharabiani,5.0,"L'âme enchantée, Romain Rollandتاریخ نخستین خو...",Ahmad Sharabiani
8,97,185493,(کلیدر (دوره ۱۰ جلدی,محمود دولت‌آبادی,4.26,2322,184,Ahmad Sharabiani,5.0,"Kelidar, Mahmoud Dowlatabadi عنوان: کلیدر؛ نوی...",Ahmad Sharabiani
9,174,86755,1001 Curious Things: Ye Olde Curiosity Shop an...,Kate C. Duncan,3.75,4,1,Stephen,4.0,This book is a stellar study of a particular n...,Stephen
10,216,275791,12 Short Stories and Their Making: An Antholog...,Paul Mandelbaum,3.81,79,12,Chris,3.0,"Honestly, I was rather disappointed by this on...",Chris
11,228,32095,13 Ways of Looking at the Novel,Jane Smiley,3.78,931,159,David,5.0,So many books .... so little time. Last year I...,David
12,251,92064,1602,Neil Gaiman,3.93,47079,1393,Stephen,4.0,Dear Mr. Gaiman and Nameless Marvel Suits: I’d...,Stephen
13,355,9441293,2005 Complete US Zip-Area Code Directory: 3 Wa...,Office TimeSavers,5.00,1,1,Chris,5.0,"Great for businesses and people alike, this zi...",Chris
14,418,228356,30 Days of Night: Immortal Remains,Jeffrey J. Mariotte,3.87,236,14,John,3.0,IMMORTAL REMAINS may not be a first-rate vampi...,John
15,447,244631,365 Dalai Lama: Daily Advice from the Heart,Dalai Lama XIV,4.07,337,29,Sarah,3.0,"At best this book was sentimental, at worst it...",Sarah
16,501,203373,501 Essential Backgammon Problems,Bill Robertie,4.19,43,6,Manny,4.0,Attention backgammon players: this book really...,Manny
17,516,286266,635 Tage im Eis: Die Shackleton-Expedition,Alfred Lansing,4.36,55119,3563,Stephen,5.0,Behold...the gentleman whose exploits crushed ...,Stephen
18,523,2252,7 Habits of Highly Effective People: Powerful ...,Stephen R. Covey,4.05,344970,6303,Stephen,1.0,I would like to make clear that David Hass...,Stephen
19,536,150238,77 Dream Songs,John Berryman,4.14,695,45,Bill Kerwin,5.0,Have your ever met a person who does something...,Bill Kerwin
20,566,162074,99 Ways to Tell a Story: Exercises in Style,Matt Madden,3.84,602,81,David,3.0,"This is Raymond Queneau's ""Exercises in Style""...",David
21,600,3463,A Bend in the Road,Nicholas Sparks,4.02,123996,3415,Ahmad Sharabiani,4.0,"A Bend in the Road, Nicholas Sparksعنوان: در پ...",Ahmad Sharabiani
22,643,868668,A Book of Nonsense,Edward Lear,3.65,1415,127,Manny,4.0,"I grew up reading A Book of Nonsense, which le...",Manny
23,719,219279,"A Candle for d'Artagnan (Atta Olivia Clemens, #3)",Chelsea Quinn Yarbro,3.94,248,9,Chris,5.0,This was the first Yarbro vampire book that I ...,Chris
24,721,164155,A Canticle For Leibowitz,Walter M. Miller Jr.,3.97,73075,3657,Manny,4.0,"I'm not a Christian, but I live in a Christian...",Manny
25,722,77386,A Canticle for Leibowitz,Walter M. Miller Jr.,3.97,73046,3656,Manny,4.0,"I'm not a Christian, but I live in a Christian...",Manny
26,741,21597,"A Catskill Eagle (Spenser, #12)",Robert B. Parker,4.04,5234,210,Bill Kerwin,3.0,"For years I believed it was here, at #12 in th...",Bill Kerwin
27,744,224743,A Century of Noir: Thirty-two Classic Crime St...,Mickey Spillane,4.05,56,11,Michael,4.0,Mickey Spillane and Max Allan Collins team up ...,Michael
28,827,319238,A Clergyman's Daughter,George Orwell,3.45,4003,313,Ahmad Sharabiani,4.0,"A Clergyman's Daughter, George Orwell عنوان: د...",Ahmad Sharabiani
29,831,31424,A Closer Look at Ariel: A Memory of Sylvia Plath,Nancy Hunter Steiner,3.69,68,8,John,3.0,The book is about 80 pages long. One section i...,John
...,...,...,...,...,...,...,...,...,...,...,...
4376,91835,79454,چند روایت معتبر,Mostafa Mastoor,3.16,1608,73,Ahmad Sharabiani,4.0,"Chand Ravayate Mo'tabar, Mostafa Mastoor تاریخ...",Ahmad Sharabiani
4377,91838,230181,چهل نامه‌ی کوتاه به همسرم,Nader Ebrahimi,3.61,1399,102,Ahmad Sharabiani,4.0,"40 Name ye Kotah Be Hamsaram, Nader Ebrahimiتا...",Ahmad Sharabiani
4378,91847,151320,کبریت خیس,عباس صفاری,3.61,442,42,Ahmad Sharabiani,4.0,"Kebrite-Khis, Abbas Safariعنوان: کبریت خیس - م...",Ahmad Sharabiani
4379,91848,139515,کلاس پرنده,Erich Kästner,4.14,2283,97,Manny,5.0,There were two episodes in this German childre...,Manny
4380,91850,174769,کلیدر,Mahmoud Dowlatabadi,4.26,2322,184,Ahmad Sharabiani,5.0,"Kelidar, Mahmoud Dowlatabadi عنوان: کلیدر؛ نوی...",Ahmad Sharabiani
4381,91853,237573,کنیزو,مُنیرو روانی‌پور,3.24,160,9,Ahmad Sharabiani,4.0,"Kanizu (1988), Moniru RavaniporMoniro Ravanipo...",Ahmad Sharabiani
4382,91856,254853,گالیور,Jonathan Swift,3.55,190651,4046,Stephen,3.0,"Let’s face it…. Jonathan Swift was a snarky, s...",Stephen
4383,91859,120967,گزارش به نسل بی سن فردا,Reza Baraheni,3.23,26,4,Ahmad Sharabiani,4.0,"Gozaresh be Nasle Bisen-e Farda, Reza Baraheni...",Ahmad Sharabiani
4384,91861,163339,گزینه اشعار,نیما یوشیج,3.79,234,9,Ahmad Sharabiani,5.0,"Nima Yooshij Selected Poems, Nima Yooshijتاریخ...",Ahmad Sharabiani
4385,91865,167557,گفته ها,ابراهیم گلستان,3.52,88,6,Ahmad Sharabiani,4.0,"Utterances = Words-Spoken, Ebrahim Golestan (T...",Ahmad Sharabiani
4386,91867,254446,گوژپشت نتردام,Victor Hugo,3.97,135591,3333,Bill Kerwin,5.0,I recently read Victor Hugo's Notre Dame de Pa...,Bill Kerwin
4387,91871,79449,یک عاشقانه آرام,Nader Ebrahimi,3.57,3150,306,Ahmad Sharabiani,4.0,"Yek Aasheghaneye Aaram, Nader Ebrahimi از کتاب...",Ahmad Sharabiani
4388,91872,207957,یک عاشقانه ی آرام,Nader Ebrahimi,3.57,3152,308,Ahmad Sharabiani,4.0,"Yek Aasheghaneye Aaram, Nader Ebrahimi از کتاب...",Ahmad Sharabiani
4389,91873,194563,یک عاشقانه‌ی آرام,Nader Ebrahimi,3.57,3152,308,Ahmad Sharabiani,4.0,"Yek Aasheghaneye Aaram, Nader Ebrahimi از کتاب...",Ahmad Sharabiani
4390,91881,314574,"アドルフに告ぐ, Vol. 1",Osamu Tezuka,4.14,852,46,Sarah,5.0,Who said Graphic Novels can't be entertaining ...,Sarah
4391,91896,13606,ヒカルの碁 11、１人目の合格者,Yumi Hotta,4.27,777,17,David,5.0,"Once again, the beauty of this series is its a...",David
4392,91897,13611,ヒカルの碁 12、新初段シリーズ,Yumi Hotta,4.23,727,13,David,4.0,Now that Hikaru is a professional go player (a...,David
4393,91898,13598,ヒカルの碁 13、プロ第一戦,Yumi Hotta,4.25,681,16,David,4.0,"Now that Hikaru is a professional go player, h...",David
4394,91899,13600,ヒカルの碁 14、sai vs toya koyo,Yumi Hotta,4.23,571,10,David,3.0,"So, this volume didn't jump the shark, but I a...",David
4395,91900,13596,ヒカルの碁 15、さよなら,Yumi Hotta,4.25,526,17,David,3.0,"So, there was one thing I liked in this otherw...",David
4396,91901,13602,ヒカルの碁 16、中国棋院,Yumi Hotta,4.16,506,14,David,4.0,So I was kind of skeptical when most of this v...,David
4397,91902,13601,ヒカルの碁 17、なつかしい笑顔,Yumi Hotta,4.24,529,16,David,4.0,The only really important thing that happens i...,David
4398,91903,13593,ヒカルの碁 18、番外編,Yumi Hotta,4.11,484,15,David,3.0,Volume 17 ended with what should have been the...,David
4399,91904,13597,ヒカルの碁 19、最高初段,Yumi Hotta,4.25,557,10,David,4.0,Although this was really only an average insta...,David
4400,91905,13613,ヒカルの碁 20、社 vs ヒカル,Yumi Hotta,4.19,489,12,David,4.0,"So we're now in the final arc of the series, w...",David
4401,91906,13610,ヒカルの碁 21、北斗杯会場へ,Yumi Hotta,4.19,550,12,David,3.0,"Meh, pretty much a ""filler"" volume as the play...",David
4402,91907,13609,ヒカルの碁 22、打倒高永夏,Yumi Hotta,4.21,510,9,David,4.0,This penultimate volume finally heats the susp...,David
4403,91909,13599,ヒカルの碁 8、プロ試験予選４日目そしてー,Yumi Hotta,4.22,893,14,David,4.0,Hikaru now enters the preliminary tests to joi...,David
4404,91910,13608,ヒカルの碁 9、本戦開始,Yumi Hotta,4.27,924,16,David,5.0,"I've been burning through this series lately, ...",David
4405,91979,158825,造雨人,John Grisham,3.91,144062,1557,Stephen,3.0,"“I'm alone and outgunned, scared and inexperie...",Stephen

In [9]:
cols = 'bookID, title, author, rating, count, reviewsCount, name, revrat, review'

In [14]:
countQueries = ['''
SELECT name, COUNT(name) AS count{0}
FROM revs_sql_clean_top_revs
WHERE revrat=={0}
GROUP BY name
'''.format(i) for i in [1,3,4,5]]

sqsq('''
    SELECT 
        t0.name,
        rating AS croRatMean,
        AVG(revrat) AS revRatMean,
        count1,
        count3,
        count4,
        count5
    
    FROM revs_sql_clean_top_revs AS t0
    
    LEFT JOIN ({}) AS t1 ON t0.name=t1.name
    LEFT JOIN ({}) AS t3 ON t0.name=t3.name
    LEFT JOIN ({}) AS t4 ON t0.name=t4.name
    LEFT JOIN ({}) AS t5 ON t0.name=t5.name
    
    GROUP BY t0.name
'''.format(*countQueries))

               name  croRatMean  revRatMean  count1  count3  count4  count5
0  Ahmad Sharabiani        3.50    4.066667     NaN     104     674     167
1      Bill  Kerwin        3.67    4.408163     NaN      60     199     280
2             Chris        4.18    3.886297    20.0      91     120     112
3             David        3.78    3.827652    34.0     136     211     147
4              John        3.87    3.974441    15.0      77     107     114
5             Manny        4.19    4.004167    14.0     110     202     154
6           Michael        4.05    3.923267    23.0      98     147     136
7             Sarah        4.07    3.625407    34.0      88     110      75
8           Stephen        3.98    3.970750    24.0     143     181     199